//! cd .. && compass --update .
// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
@import compass/utilities/lists.sass

html
  :height 101%
input, textarea
  font: inherit
body
  :background #6ab
  :font 13px/18px Corbel, 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  :color #222
  a
    :color #222
    :text-decoration none
  a:focus
    :outline 0
  #container
    +container
    :height 101%
  #footer
    +column(!blueprint_grid_columns)
  #clone-army
    :display none
  #header 
    +column(21, true)
    +prepend(2)
    +append(1)
    :position relative
    :height 100px
    h2 a
      :color #fff
      :font-weight bold
      :position absolute
      :right 42px
      :top -1px
      :padding 10px 15px
      :background-color #b6a
      :box-shadow 1px 1px 2px #000
      :-webkit-box-shadow 1px 1px 2px #000
      :-moz-box-shadow 1px 1px 2px #000
    h1
      padding: 5px
      margin: 60px 0 20px 10px
      :color #fff
      font-weight: bold
      font-size: 24px
      input
        width: 90%
        color: white
        text-shadow: 1px 1px 2px #000
        background: transparent
        border: none
        outline: none
      input.hascursor
        background: white
        border: 1px solid #ccc
        outline: none
        color: black
        text-shadow: none
        text-shadow: none
  #main
    +column(21, true)
    +prepend(2)
    +append(1)
    #content
      :-moz-border-radius 4px
      :-webkit-border-radius 4px
      :border-radius 4px
      :background-color white
      :padding 15px
      :-webkit-box-shadow 1px 1px 2px #000
      :-moz-box-shadow 1px 1px 4px #000
      :box-shadow 1px 1px 2px #000
      :margin-bottom 20px
      #unordered-list
        :list-style-type none
      .note
        +clearfix
        :margin-left= -15px - 47px
        :padding-bottom 4px
        :clear both
        .grabme, .checkme, .fillme
          :float left
        .grabme
          :height 21px
          :width 21px
          :cursor -moz-grab
          :cursor move
          :display block
          :text-indent -9999px
          :background url(../images/move.png) 4px 4px no-repeat
        .checkme
          :height 21px
          :width 26px
          input
            :margin 0
            :position relative
            :top 2px
            :left 5px
        .fillme
          :height 1.2em
          :width 787px
          :border 1px solid #fff
          :margin-left 15px
        .fillme.hascursor
          :border 1px solid #ccc
          :outline none
        .child
          :margin-left 55px
          :width 747px
        .baby
          :margin-left 95px
          :width 707px
        &.checked textarea
          color: #ccc

#messages
  color: #333
  font-size: 12px
  position: absolute
  width: 100%
  left: 0
  li
    margin-left: 25%
    margin-right: 25%
    :padding 5px 15px
    :background-color #fc0
    :box-shadow 1px 1px 2px #000
    :-webkit-box-shadow 1px 1px 2px #000
    :-moz-box-shadow 1px 1px 2px #000
    list-style-type: none
